body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h3,
p {
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(136, 65%, 51%);
  padding: 2vh 0 2vh 1vw;
  width: 100vw;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(136, 65%, 51%);
  padding: 2vh 0 2vh 1vw;
  width: 100vw;
}
@media all and (min-width: 768px) {
  .footer-container {
    display: flex;
    gap: 1rem;
  }
  .contact-container {
    display: flex;
    gap: 1rem;
  }
}
header {
  justify-content: space-evenly;
}
@media all and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
header ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}
@media all and (max-width: 768px) {
  header ul {
    gap: 0;
    flex-wrap: wrap;
  }
  header li {
    font-size: 0.8rem;
    margin-right: 0.6rem;
  }
}
.heading {
  padding: 0;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.8rem;
  width: 80%;
  padding-bottom: 1rem;
}
button {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 30px;
  background-color: hsl(61, 86%, 63%);
  color: black;
}
button:hover {
  cursor: pointer;
  background-color: hsl(61, 96%, 44%);
  opacity: 1;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.category-container {
  align-self: center;
}
.cart-container {
  margin-top: 0.3rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.cart-icon-container {
  display: flex;
  margin-top: 0.2rem;
}

@media all and (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
header li {
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}
header li:hover {
  border-bottom: 0.3rem solid hsl(61, 82%, 49%);
}
.main-container {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .category-container {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: rgb(233, 245, 233);
  border-radius: 0.6rem;
  margin: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.product-image {
  height: 35vh;
  width: 80vw;
  object-fit: contain;
  margin-top: 2vh;
  border-radius: 0.6rem;
  align-self: center;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 2vw;
  width: 80vw;

  text-align: center;
  flex-grow: 1;
}
.cost-container {
  display: flex;
  margin-bottom: 0.8rem;
}

.rupee-icon {
  margin-top: 8px;
  margin-right: 5px;
}
@media all and (min-width: 768px) {
  .product-image {
    height: 45vh;
    object-fit: contain;
    margin-left: 3rem;
  }
}
@media all and (min-width: 992px) {
  .product-container {
    width: 25vw;
    min-height: 70vh;
  }
  .product-image {
    height: 43vh;
    width: 20vw;
    object-fit: contain;
    margin-left: 3rem;
  }
  .title {
    width: 24vw;
  }
}

.single-product-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 245, 233);
  padding-top: 2vh;
}
.single-product-image {
  height: 40vh;
  object-fit: contain;
}
.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: hsl(136, 65%, 51%);
  padding: 0.5rem;
  gap: 0.3rem;
  border-radius: 5px;
  margin-bottom: 5px;
}
.rating-para {
  margin: 0px;
  font-size: 1.1rem;
}
.para {
  font-size: 1.1rem;
  margin: 0;
}
@media all and (min-width: 992px) {
  .single-product-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(233, 245, 233);
    border-radius: 10px;
    min-height: 80vh;
    padding: 20px;
  }
  .single-product-image {
    height: 60vh;
    max-width: 60vw;
    align-self: center;
    border-radius: 10px;
    object-fit: contain;
  }
  .about-product {
    align-items: flex-start;
    margin-top: 1.5rem;
  }
  .rating-container {
    width: 6vw;
  }
}
.error-msg {
  height: 70vh;
  margin: 1rem;
}
.loader {
  color: black;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  margin-bottom: 20px;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.no-display {
  display: none;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.link {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.notfound-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.go-home {
  background-color: hsl(136, 65%, 51%);
  color: black;
  width: 120px;
}
.cart-button {
  width: 130px;
}
.cart-button:hover {
  background-color: hsl(136, 65%, 51%);
}
.back-button {
  width: 130px;
}
.cart-empty-image {
  height: 300px;
  width: 300px;
}
.product-cart-container {
  min-height: 80vh;
}
.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cart-product-single-container {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(192, 188, 188);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
  width: 90vw;
}
.cart-image-container {
  align-self: center;
}
@media all and (min-width: 594px) {
  .cart-product-single-container {
    flex-direction: row;
    width: 50vw;
    margin-left: 2rem;
  }
  .cart-image-container {
    align-self: flex-start;
  }
}

.cart-image {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}
.cart-cost-container {
  display: flex;
  gap: 0.2rem;
}
.cart-rupee-icon {
  margin-top: 0.7rem;
}
.remove-cart-button {
  width: 130px;
}
.cart-product-single-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.confirm-remove-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 40rem rgb(10, 9, 9);
  border-radius: 0.4rem;
}
@media all and (min-width: 540px) {
  .confirm-remove-container {
    margin-left: 10;
  }
}
.quantity-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.inc-btn {
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  background-color: white;
  border: solid 1px gray;
}
.add-product-button {
  width: 100px;
  height: 60px;
}
.add-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.add-form {
  width: 60vw;
  margin-top: 1rem;
}
.display-add-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
}
.form-group {
  margin-bottom: 1rem;
}
label {
  margin-bottom: 0.4rem;
}
.edit-product-container {
  min-height: 70vh;
}
